@use "global" as *;

.campaign{
  position: relative;
  overflow: hidden;
}

.campaign__inner{
  max-width: rem(600);
}

.campaign__items{
  margin-top: rem(24);
  @include mq("md"){
    margin-top: rem(40);
  }
}

.campaign__contents{
  margin:rem(26) 0 rem(40) rem(0) ;
  @include mq("md"){
    margin:rem(40.5) 0 rem(80) rem(0) ;
  }
}


.campaign__prev{
  top: rem(10);
  right: rem(180);
}

.campaign__next{
  top: rem(11);
  right: rem(340);
}

.campaign__prev, .campaign__next{
  position: absolute;
  border: rem(1) solid $green;
  border-radius: 50%;
  width: rem(80);
  height: rem(80);
  cursor: pointer;
}

.campaign__next::after,
.campaign__prev::after{
  content: "";
  position: absolute;
  bottom: 46%;
  left: 24%;
  height: rem(1);
  width: rem(40);
  background-color: $green;
  border-radius:rem(10);
}

.campaign__prev::before{
  content: "";
  position: absolute;
  top: 49%;
  right: 22%;
  height: rem(1);
  width: rem(9);
  transform: rotate(45deg);
  background-color: $green;
  border-radius:rem(10);
}

.campaign__next::before{
  content:"";
  position: absolute;
  top: 49%;
  left: 23%;
  height: rem(1);
  width: rem(9);
  transform: rotate(-45deg);
  background-color: $green;
  border-radius:rem(10);
}


.campaign__btn{
margin-top: rem(40);
text-align: center;
 @include mq("md"){
  margin-top: rem(80);
 }
}
