@use "global" as *;

.contact__container{
  @include mq("md"){
    display: flex;
    padding:rem(80) rem(50) rem(72);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);
  }
}

.contact__content{
  width: 100%;
  text-align: center;
  @include mq("md"){
    width: rem(440);
  }
}

.contact__content + .contact__content{
  margin-top: rem(32);
  @include mq("md"){
    border-left: rem(1) solid $green;
    padding-top: rem(19.5);
    padding-left: rem(29);
    margin-top: rem(1);
    margin-left: rem(82);
  }
}


.contact__img2{
  width: rem(295);
  border-bottom:rem(1) solid $green ;
  padding-bottom: rem(6);
  margin: 0 auto;
  @include mq("md"){
    width: rem(440);
    padding-bottom: rem(7);
  }
}

.contact__img2 img{
  width: rem(174);
  aspect-ratio: 174 / 65;
  margin: 0 auto;
  @include mq("md"){
    width: rem(200);
    align-self: 200 / 75;
  }
}

.contact__box{
  margin-top: rem(15);
  @include mq("md"){
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: rem(24);
  }
}

.contact__text{
  font-size: rem(16);
  line-height: 1.7;
  font-family: $third-font-family;
 @include mq("md"){
    text-align: left;
  }
}

.contact__item iframe{
  max-width: rem(600);
  width: rem(295);
  height: rem(160);
  margin: rem(16) auto 0;
  @include mq("md"){
    width: rem(273);
    height: rem(148);
    margin: 0;
  }
}

.contact__title{
  font-size:rem(80);
  line-height: 1;
  font-weight: $regular;
  color: $black;
  @include mq("md"){
    letter-spacing: -0.005em;
  }
}
.contact__title span{
  color: $green;
}

.contact__title.contact__title--sub{
  color: $green;
  font-size: rem(12);
  line-height: 1;
  margin: rem(-5) 0 0;
  font-family: $third-font-family;
}
.contact__title.contact__title--sub + .contact__title.contact__title--sub{
  color: $green;
  font-size: rem(14);
  line-height: 1;
  margin-top: rem(16);
  font-family: $third-font-family;
}

.contact__btn{
 text-align: center;
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(41);
  }
}