@use "global" as *;

.hamburger{
  position: fixed;
  z-index: 9999;
  top: rem(27);
  right: rem(14);
  width: rem(33);
  height: rem(16);
  cursor: pointer;
}

.hamburger.is-active{
  right: rem(20);
}

.hamburger span{
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: rem(2);
  transition: transform 0.5s;
  background-color: $white;
}

.hamburger span:first-child{
  top: 0;
}
.hamburger span:nth-child(2){
  top: rem(12);
  transition: opacity 0.3s;
}
.hamburger span:nth-child(3){
  top: rem(24);
}

.hamburger.is-active span:first-child{
  -webkit-transform: translateY(rem(12)) rotate(35deg);
  transform: translateY(rem(12)) rotate(35deg);
  width: rem(40);
}
.hamburger.is-active span:nth-child(2){
  opacity: 0;
}
.hamburger.is-active span:nth-child(3){
  -webkit-transform: translateY(rem(-11)) rotate(-35deg);
  transform: translateY(rem(-11)) rotate(-35deg);
  width: rem(40);
}