@use "global" as *;

.information{
  background-color: $green2;
}

.information__wrapper{
  max-width: rem(600);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md"){
    max-width:rem(1080);
    margin-top: rem(2);
    flex-direction: initial;
    align-items: center;
}
}

.information__img{
  width: 100%;
  aspect-ratio: 345 / 227;
  margin-top: rem(27);
  @include mq("md"){
    width: rem(540);
    aspect-ratio: 540 / 356;
    // margin: rem(40) rem(48) rem(48) 0;
    margin-top: rem(39);
  }
}

.information__box{
  width: 100%;
  margin-top: rem(27);
  @include mq("md"){
    max-width:rem(492) ;
    margin: rem(34) 0 0 rem(48);
  }
}

.information__text.information__text--lg{
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  font-family: $third-font-family;
  color: $black;
  padding-bottom: rem(4);
  // border-bottom: rem(1) solid $green;
  @include mq("md"){
    font-size: rem(24);
    padding-bottom: rem(8);
  }
}

.information__text.information__text--sm{
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.5;
  font-family: $third-font-family;
  color: $black;
  margin-top: rem(9);
  @include mq("md"){
    margin-top: rem(7);
  }
}

.information__btn{
  text-align: center;
  margin-top: rem(39);
  }