@use "global" as *;

.voice{
  @include mq("md"){
    position: relative;
  }
}

.voice::before{
  @include mq("md"){
    content: "";
    background: url(../images/voice-hanadai.png) center center / contain no-repeat;
    width: rem(301);
    aspect-ratio: 310 / 138;
    position: absolute;
    top: rem(-110);
    left: calc(50% - min(47vw, 38.78rem));
  }
}



.voice__inner{
  position: relative;
  max-width: rem(600);
  width: 100%;
  @include mq("md"){
    max-width: rem(1080);
  }
}

.voice__inner::after{
  @include mq("md"){
    content: "";
    background: url(../images/voice-ibaratatu.png) center center / contain no-repeat;
    width: rem(71);
    aspect-ratio: 71 / 162;
    position: absolute;
    bottom: rem(-71);
    right: rem(25);
  }
}

.voice__btn{
  margin-top: rem(38);
 text-align: center;
  @include mq("md"){
    margin-top: rem(79);
  }
}
