@use "global" as *;
.blog-accordion__item + .blog-accordion__item{
  margin-top: rem(10);
}

.blog-accordion__title, .blog-accordion__text{
  color: $green;
  font-size: rem(22);
  font-family: $third-font-family;
  font-weight: $normal;
  display: flex;
  align-items: center;
}

.blog-accordion__title::before{
  content: "";
  display: inline-block;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background-color: $green;
  width: rem(22);
  height: rem(20);
  margin-right: rem(8);
  transition: all 0.5s ease 0s;
}

.blog-accordion__title.is-open::before{
  transform: rotate(90deg);
  transition: all 0.5s ease 0s;
}





.blog-accordion__text{
  margin:rem(3) 0 0 rem(30) ;
}

.blog-accordion__text + .blog-accordion__text{
  margin-top: rem(5);
}

.blog-accordion__text::before{
  content: "";
  display: inline-block;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background-color: $green;
  width: rem(20);
  height: rem(20);
  margin-right: rem(8);
}

