@use "global" as *;


.blog-review__title{
  color: $black;
  font-size: rem(24);
  font-weight: $normal;
  font-family:$third-font-family;
  display: inline-flex;
  // justify-content: center;
  align-items: center;
  width: 100%;
  border-left: rem(8) solid $green;
  box-sizing: border-box;
  padding-left: rem(16);
}

.blog-review__title::before{
  content: "";
  display: inline-block;
  width: rem(50);
  height: rem(50);
  background-image: url(../images/blog-popular-img.svg);
  background-size: contain;
  background-position:  center;
  background-repeat: no-repeat;
  margin-right: rem(8);
}

.blog-review__card{
  margin-top: rem(16);
}

.blog-review__img img{
  width: rem(294);
  aspect-ratio: 294 / 218;
  object-fit: cover;
}

.blog-review__label{
  font-size: rem(12);
  font-family: $third-font-family;
  font-weight: $regular;
  color: $black;
  margin-top:rem(16);
}

.blog-review__text{
  font-size: rem(24);
  font-family: $third-font-family;
  font-weight: $bold;
  color: $black;
  margin-top:rem(10);
}

.blog-review__btn{
  margin-top: rem(40);
  text-align: center;
  @include mq("md"){
    margin-top: rem(37);
  }
}