@use "global" as *;

.blog-campaign__title{
  color: $black;
  font-size: rem(24);
  font-weight: $normal;
  font-family:$third-font-family;
  display: inline-flex;
  align-items: center;
  width: 100%;
  border-left: rem(8) solid $green;
  box-sizing: border-box;
  padding-left: rem(16);
}

.blog-campaign__title::before{
  content: "";
  display: inline-block;
  width: rem(50);
  height: rem(50);
  background-image: url(../images/blog-popular-img.svg);
  background-size: contain;
  background-position:  center;
  background-repeat: no-repeat;
  margin-right: rem(8);
}

.blog-campaign__card{
  margin-top:rem(16) ;
}

.blog-campaign__card + .blog-campaign__card{
  margin-top:rem(40) ;
}

.blog-campaign__btn{
  margin-top: rem(37);
  text-align: center;
}
