@use "global" as *;
.blog-side-menu__inner{
  padding-inline: rem(25);
  @include mq("md") {
      padding: initial;
  }
}

.blog-side-menu__review{
  margin-top: rem(80);
  @include mq("md"){
    margin-top: rem(81);
  }
}

.blog-side-menu__campaign{
  margin-top: rem(84);
  @include mq("md"){
    margin-top: rem(88);
  }
}

.blog-side-menu__archive{
  margin-top: rem(84);
}

