@use "global" as *;

.blog-card{
  display: flex;
  flex-direction: column;
  height: auto;
}

.blog-card__link{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog-card__item{
  width: 100%;
  max-width: rem(600);
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include mq("md"){
    max-width: rem(333);
  }
}

.blog-card__header{
  width: 100%;
}

.blog-card__figure{
  width: 100%;
  padding: rem(16) rem(16) 0;
}

.blog-card__img img{
  max-width: 100%;
  aspect-ratio: 301 / 201 ;
  vertical-align: bottom;
  object-fit: cover;
  overflow: hidden;

}

.blog-card__body{
  padding: rem(27) rem(16) rem(24);
  flex-grow: 1;
  @include mq("md"){
    padding-top: rem(20);
  }
}

.blog-card__date{
  color: $black;
  font-size: rem(12);
  line-height: 1;
  font-weight: $regular;
}

.blog-card__title{
  color: $black;
  font-size: rem(16);
  line-height: 1;
  font-family: $third-font-family;
  padding-bottom: rem(3);
  // border-bottom: rem(1) solid $green;
  margin-top: rem(8);
  flex-grow: 1;
  @include mq("md"){
    padding-bottom: rem(7);
    margin-top: rem(3);
  }
}

.blog-card__copy{
  margin-top: rem(20);
  color: $black;
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $regular;
  font-family: $third-font-family;
  @include mq("md"){
    margin-top:rem(16);
  }
}

// ブログページ
.blog-card__link.blog-card__link--blog-content{
  width: 100%;
}
.blog-card__link.blog-card__link--blog-content img{
  transition: transform .6s ease;
}
.blog-card__link.blog-card__link--blog-content:hover img{
  transform:scale(1.1);
}
.blog-card__img.blog-card__img--blog-content{
  overflow: hidden;
}
