@use "global" as *;
.campaign-content{
  position: relative;
}

.campaign-content__tab-content{
  display: none;
}
.campaign-content__tab-content.active{
  display: block;
}

.campaign-content__area{
  margin-top: rem(39);
}

.campaign-content__pagination{
  margin: rem(79) auto 0;
  @include mq("md"){
    margin-top: rem(71);
  }
}

.campaign-content__img{
  width: rem(135);
  aspect-ratio: 310 / 138;
  position: absolute;
  top: rem(-24);
  left: calc(50% - min(47vw, 38.78rem));
  @include mq("md"){
    width: rem(301);
    aspect-ratio: 310 / 138;
    top: rem(-70);
    }

}