@use "global" as *;
.contact-fish{
  position: relative;
}

.contact-fish::before{
  content: "";
  background: url(../images/price-hanadai.png) center center / contain no-repeat;
  width: rem(109);
  aspect-ratio: 109 / 50;
  position: absolute;
  top: rem(-27);
  right: rem(15);
  @include mq("md"){
    width:rem(301) ;
    aspect-ratio: 301 / 138;
    top: rem(-40);
    right: rem(50);
    right:calc(50% - min(47vw, 41.9rem));
  }
}